/* Estilo para los botones */
img {
    max-width: 150px;
}

p {
    text-align: center;
}

button {
    width: 100%;
    padding: 6px; /* Tamaño de padding reducido para hacerlos más pequeños */
    margin: 5px 0; /* Espaciado vertical entre los botones */
    background-color: #007bff; /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Tamaño de fuente del botón */
    transition: background-color 0.3s ease, transform 0.2s; /* Añadir transición para el fondo y el efecto de transformación */
}

/* Efecto al pasar el ratón por encima */
button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
    transform: scale(1.05); /* Escalar ligeramente el botón */
}

/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('img/fondo.jpg') no-repeat center center fixed; /* Ruta corregida de la imagen */
    background-size: cover; /* Asegúrate de que la imagen cubra todo el fondo */
    background-attachment: fixed; /* Mantiene la imagen de fondo fija al hacer scroll */
}

/* Estilo para el contenedor del formulario */
h1, h2 {
    text-align: center;
    color: #0056b3; /* Azul */
}

form {
    max-width: 600px; /* Ancho máximo para escritorio */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de los elementos de formulario */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%; /* Hacer que los inputs y selects ocupen el 100% del contenedor */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para lista de señales y personalizaciones */
h3 {
    margin-top: 20px;
    color: #0056b3; /* Azul */
}

ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Línea separadora */
}

/* Media Queries para móviles */
@media (max-width: 600px) {
    h1 {
        font-size: 24px; /* Tamaño de fuente más pequeño en móvil */
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px; /* Tamaño de fuente del botón */
    }

    input[type="text"],
    input[type="number"],
    select,
    textarea {
        font-size: 14px; /* Tamaño de fuente más pequeño en inputs */
    }
}
